<% if @message.media_processing %>
  <div class="processing" style="background-image: url(/img/logo.png)"></div>
<% else %>
  <% if @message.content_type == 'video' %>
    <video width="800" height="500" poster="<%= @message.poster.url %>" controls="controls" preload="none">
      <source src="<%= @message.media.url %>" type="<%= @message.media.content_type %>" />
      <source src="<%= @message.media.url(:webm) %>" type="video/webm" />
      <source src="<%= @message.media.url(:ogv) %>" type="video/ogg" />
      <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
      <object width="800" height="500" type="application/x-shockwave-flash" data="/img/flashmediaelement.swf">
        <param name="movie" value="/img/flashmediaelement.swf" />
        <param name="flashvars" value="controls=true&file=<%= @message.media.mp4.url %>" />
        <img src="<%= @message.poster.url %>" width="800" height="500" title="No video playback capabilities" />
      </object>
    </video>
  <% else %>
    <audio id="player2" controls="controls">
      <source src="<%= @message.media.url %>" type="audio/mpeg">
      <source src="<%= @message.media.url(:wav) %>"  type="audio/wav">
    </audio>
    <script type="text/javascript">
      var audio = document.getElementById('player2');
      var changeer = function () {
        audio.removeAttribute('src');
      }
      window.setTimeout(changeer, 1000);
    </script>
  <% end %>
<% end %>
<div id="descCont">
  <h3 class="title"><%= @message.title %></h3>
  <p class="desc"><%= @message.description %></p>
  <span class="tags">Tags: <%= raw tag_links @message.tag_list %></a></span>
  <%= link_to "Edit", edit_message_path(@message), class: "delete" if logged_in? %>
  <%= link_to "Delete", @message, method: :delete, class: "delete", data: {confirm: "Are you sure?"} if logged_in? %>
  <span class="date"><%= @message.updated_at.strftime("%H:%M %A, %d %B %Y") %></span>
</div>
