<div id="mediaCont">
  <%= render 'show_message' %>
</div>
<div class="cf" id="messagesCont">
  <div class="cont cf">
    <div id="tabs" class="cf">
      <%= return_tabs %>
    </div>

    <%= render 'tags' %>
  </div>

  <div class="cf" id="messages">
    <%= render @messages %>
  </div>
  <div id="scrolling">
    <%= will_paginate @messages, params: {type: params[:type], tag: params[:tag]} %>
  </div>
</div>
