= form_for(:session, url: login_path) do |f|
  %h3 Login
  %fieldset
    = f.label :email
    = f.email_field :email
  %fieldset
    = f.label :password
    = f.password_field :password
  = link_to "Forgot Password?", new_password_reset_path
  = f.submit "Login"
