= form_for(@slide, html: {multipart: true}) do |f|
  = render 'shared/form_top'
  = render 'shared/errors', object: f.object
  %fieldset
    = f.label :image
    = f.file_field :image
  %fieldset
    = f.label :title
    = f.text_field :title
  = f.submit 'Save Slide'
