= form_for(@admin) do |f|
  = render 'shared/form_top'
  = render 'shared/errors', object: f.object
  = f.hidden_field :parent_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :password
    = f.password_field :password
  - if params[:action] != 'edit'
    .field
      = f.label :password_confirmation, "Confirm"
      = f.password_field :password_confirmation
  = f.submit params[:action] == 'new' ? "Create Admin" : "Edit Admin"
