<div id="address">
  <h3>Come visit us anytime.<br><span>We're always available.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
</div>

<div id="socialsCont">
  <h3>Find us on:</h3>
  <div id="socials">
    <a href="https://www.facebook.com/Thebbcm-1772707156285316/" target="_blank">
      <img src="/img/Facebook.png" alt="Facebook" class="social">
      <span>TheBBCM</span>
    </a>
    <a href="https://twitter.com/bbcm_church" target="_blank">
      <img src="/img/Twitter.png" alt="Twitter" class="social">
      <span>@BBCM_church</span>
    </a>
    <a href="#">
      <img src="/img/GooglePlus.png" alt="Google Plus" class="social">
      <span>BBCM church</span>
    </a>
  </div>
</div>

<%= form_for(:pages, url: send_path) do |f| %>
  <h3>Have something to say?</h3>
  <p>
    Send us an email with your questions, requests or prayer points and we'll be sure to get back to you
    <br> thebbcm@gmail.com
  </p>
  <div class="cf" id="create">

  </div>

  <fieldset>
    <%= f.label :sender, "Name" %>
    <%= f.text_field :sender %>
  </fieldset>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </fieldset>

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>

  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </fieldset>

  <%= f.submit "Send email" %>
<% end %>
