<%= form_for(:pages, url: send_path) do |f| %>
  <h3>Have something to say?</h3>
  <p>
    Send us an email with your questions, requests or prayer points and we'll be sure to get back to you
    <br> bbcm@gmail.com
  </p>
  <div class="cf" id="create">

  </div>

  <fieldset>
    <%= f.label :sender, "Name" %>
    <%= f.text_field :sender %>
  </fieldset>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </fieldset>

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>

  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </fieldset>

  <%= f.submit "Send email" %>
<% end %>
