= form_for @subscriber, remote: true do |f|
  %h3 Get the latest info
  %p
    Subscribe now to have announcements emailed to you once they are made
  #create.cf
  = render 'shared/errors', object: f.object
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  = f.submit 'Subscribe'
