-# - if @message.media_processing
-#   #outPoster{:style => "background-image: url(/img/processing.jpg)"}
-# - else
-#   - if @message.content_type == 'video'
-#     %video{:controls => "controls", :height => "500", :poster => "#{@message.poster.url}", :preload => "none", :width => "800"}
-#       %source{:src => "#{@message.media.url}", :type => "#{@message.media.content_type}"}
-#       %source{:src => "#{@message.media.url(:webm)}", :type => "video/webm"}
-#       %source{:src => "#{@message.media.url(:ogv)}", :type => "video/ogg"}
-#       / Flash fallback for non-HTML5 browsers without JavaScript
-#       %object{:data => "/deps/flashmediaelement.swf", :height => "500", :type => "application/x-shockwave-flash", :width => "800"}
-#         %param{:name => "movie", :value => "/deps/flashmediaelement.swf"}/
-#         %param{:name => "flashvars", :value => "controls=true=#{@message.media.url}"}/
-#         %img{:height => "500", :src => "#{@message.poster.url}", :title => "No video playback capabilities", :width => "800"}/
-#   - else
-#     #audio.cf
-#       #outPoster{:style => "background-image: url(#{@message.poster.url})"}
-#       %audio#player2{:controls => "controls", :height => "40", :width => "100%"}
-#         %source{:src => "#{@message.media.url}", :type => "audio/mpeg"}
-#           %source{:src => "#{@message.media.url(:wav)}", :type => "audio/wav"}
-#     :javascript
-#       var audio = document.getElementById('player2');
-#       var changeer = function () {
-#         audio.removeAttribute('src');
-#       }
-#       window.setTimeout(changeer, 1000);
- unless @audio.blank?
  #descCont
    %h3.title= @audio.title
    %p.desc= @audio.description
    %span.tags
      Tags: #{raw tag_links @audio.tag_list}
    = link_to "Edit", edit_audio_path(@audio), class: "delete" if logged_in?
    = link_to "Delete", @audio, method: :delete, class: "delete", data: {confirm: "Are you sure?"} if logged_in?
    %span.date= @audio.updated_at.strftime("%H:%M %A, %d %B %Y")
- else
  %p No audio :(
