= form_for(@image, html: {multipart: true}) do |f|
  = render 'shared/form_top'
  = render 'shared/errors', object: f.object
  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :people
    = f.text_field :people
  .field
    = f.label :image
    = f.file_field :image
  = f.submit "Save Image"
