<!DOCTYPE html>
<html>
  <head>
    <title><%= title_er %>BBCM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="flash">
      <% flash.each do |type, msg| %>
        <p class="<%= type %>">
          <%= msg %>
        </p>
      <% end %>
    </div>

    <%= content_tag :div, render('layouts/topBar'), id: "topBar" if logged_in? %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
