<!DOCTYPE html>
<html>
  <head>
    <title>BBCM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Athiti:200,300,400" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="loading" data-turbolinks-permanent></div>
    <%= render 'layouts/header' %>
    <div id="bodyCont">
      <div id="flash">
        <% flash.each do |type, msg| %>
          <p class="<%= type %>">
            <%= msg %>
          </p>
        <% end %>
      </div>

      <%= content_tag :div, render('layouts/topBar'), id: "topBar" if logged_in? %>

      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
